<div class="default_style">
  <ul class="side-list">
    <li id="li-id" class="li-header">
      <div class="list-header-left inline pull-left" >
        <div ng-click="showRight()"><span  class="fa fa-indent left-icon-margin"></span></div>
      </div>
      <div class="list-header-right inline pull-right" >
        <div ng-click="hideRight()"><img class="image-padding" src="/app/img/WMS1.png"> <span  class="icon-margin fa fa-dedent"></span></div>
      </div>
    </li>
    <li class="">
      <div class="leftPart">
        <a><span class="fa fa-search"></span></a>
        <div class="hover-event">
          <form class="input-group form-padding">
            <input type="text" class="form-control list-search-input" placeholder="搜索内容">
          <span class="input-group-btn">
            <button class="btn btn-default list-search-btn" type="button"><span><i class="fa fa-search"></i></span></button>
          </span>
          </form>
          <hr class="list-hr">
          <div>
            <div class="back-img-style">

            </div>
          </div>
        </div>
      </div>
      <div class="rightPart">
        <a>
          <div class="rightIcon inline"><span class="fa fa-search"></span></div>
          <div class="inline">搜索菜单</div>
          <div class="rightSelectIcon inline">
            <span class="fa fa-caret-right"></span>
          </div>
        </a>
        <div class="hover-event">
          <form class="input-group form-padding">
            <input type="text" class="form-control list-search-input" placeholder="搜索内容">
          <span class="input-group-btn">
            <button class="btn btn-default list-search-btn" type="button"><span><i class="fa fa-search"></i></span></button>
          </span>
          </form>
          <hr class="list-hr">
          <div>
            <div class="back-img-style">
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="">
      <div class="leftPart" >
        <a><span class="fa fa-clock-o"></span></a>
        <hr class="left-list-hr" >
        <div class="hover-event">
          <ul class="list-order">
            <li class="secondary-list-header">最近使用</li>
            <li class="secondary-list-content">波次作业</li>
            <li class="secondary-list-content">出库订单</li>
            <li class="secondary-list-content">收货预检单</li>
            <li class="secondary-list-content">上架单</li>
            <li class="secondary-list-content">转运收货单</li>
            <li class="secondary-list-content">订单维护</li>
            <li class="secondary-list-content">拣货单</li>
          </ul>
        </div>
      </div>
      <div class="rightPart" >
        <a>
          <div class="rightIcon inline">
            <span class="fa fa-clock-o"></span>
          </div>
          <div class="inline">搜索菜单</div>
          <div class="rightSelectIcon inline">
            <span class="fa fa-caret-right"></span>
          </div>
        </a>
        <hr class="right-list-hr" >
        <div class="hover-event">
          <ul class="list-order">
            <li class="secondary-list-header">最近使用</li>
            <li class="secondary-list-content">波次作业</li>
            <li class="secondary-list-content">出库订单</li>
            <li class="secondary-list-content">收货预检单</li>
            <li class="secondary-list-content">上架单</li>
            <li class="secondary-list-content">转运收货单</li>
            <li class="secondary-list-content">订单维护</li>
            <li class="secondary-list-content">拣货单</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="">
      <div class="leftPart" >
        <a><span class="fa fa-book"></span></a>
        <div class="hover-event">
          <ul class="list-order thirdList-style">
            <li class="secondary-list-header">基础资料</li>
            <li class="secondary-list-content">货位管理</li>
            <li class="secondary-list-content">工种管理</li>
            <li class="secondary-list-content">物流设施</li>
            <li class="secondary-list-content">货主</li>
            <li class="secondary-list-content">门店/客户</li>
            <li class="secondary-list-content">供应商</li>
            <li class="secondary-list-content">货品档案</li>
            <li class="secondary-list-content">拣货方案</li>
            <li class="secondary-list-content">货位仓库</li>
            <li class="secondary-list-content">承运商</li>
            <li class="secondary-list-content">RF设置</li>
          </ul>
        </div>
      </div>
      <div class="rightPart" >
        <a>
          <div class="rightIcon inline">
            <span class="fa fa-book"></span>
          </div>
          <div class="inline">搜索菜单</div>
          <div class="rightSelectIcon inline">
            <span class="fa fa-caret-right"></span>
          </div>
        </a>

        <div class="list-scroll hover-event">
          <ul class="list-order">
            <li class="secondary-list-header">基础资料</li>
            <li class="secondary-list-content">货位管理</li>
            <li class="secondary-list-content">工种管理</li>
            <li class="secondary-list-content">物流设施</li>
            <li class="secondary-list-content">货主</li>
            <li class="secondary-list-content">门店/客户</li>
            <li class="secondary-list-content">供应商</li>
            <li class="secondary-list-content">货品档案</li>
            <li class="secondary-list-content">拣货方案</li>
            <li class="secondary-list-content">货位仓库</li>
            <li class="secondary-list-content">承运商</li>
            <li class="secondary-list-content">RF设置</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="li-content">
      <div class="leftPart">
        <a><span class="fa fa-sign-in"></span></a>
        <div class="list-scroll hover-event">
          <ul class="list-order ">
            <li class="secondary-list-header">收货入库</li>
            <li class="secondary-list-content">订单维护</li>
            <li class="secondary-list-content">收货预检单</li>
            <li class="secondary-list-content">收货单</li>
            <li class="secondary-list-content">直分收货单</li>
            <li class="secondary-list-content">上架单</li>
            <li class="secondary-list-content">转运通知单</li>
            <li class="secondary-list-content">转运收货单</li>
            <li class="secondary-list-content">转运整箱拣货作业监控</li>
            <li class="secondary-list-content">质检单</li>
            <li class="secondary-list-content">加工任务单</li>
            <li class="secondary-list-content">收货暂存单</li>
            <li class="secondary-list-content">感官检质清单</li>
            <li class="secondary-list-content">质检项目</li>
            <li class="secondary-list-content">货品检验项目</li>
            <li class="secondary-list-content">模拟RF收货功能</li>
            <li class="secondary-list-content">拟RF快速收货功能</li>
          </ul>
        </div>
      </div>
      <div class="rightPart">
        <a>
          <div class="rightIcon inline">
            <span class="fa fa-sign-in"></span>
          </div>
          <div class="inline">搜索菜单</div>
          <div class="rightSelectIcon inline">
            <span class="fa fa-caret-right"></span>
          </div>
        </a>

        <div class="list-scroll hover-event">
          <ul class="list-order ">
            <li class="secondary-list-header">收货入库</li>
            <li class="secondary-list-content">订单维护</li>
            <li class="secondary-list-content">收货预检单</li>
            <li class="secondary-list-content">收货单</li>
            <li class="secondary-list-content">直分收货单</li>
            <li class="secondary-list-content">上架单</li>
            <li class="secondary-list-content">转运通知单</li>
            <li class="secondary-list-content">转运收货单</li>
            <li class="secondary-list-content">转运整箱拣货作业监控</li>
            <li class="secondary-list-content">质检单</li>
            <li class="secondary-list-content">加工任务单</li>
            <li class="secondary-list-content">收货暂存单</li>
            <li class="secondary-list-content">感官检质清单</li>
            <li class="secondary-list-content">质检项目</li>
            <li class="secondary-list-content">货品检验项目</li>
            <li class="secondary-list-content">模拟RF收货功能</li>
            <li class="secondary-list-content">拟RF快速收货功能</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="li-content">
      <div class="leftPart">
        <a><span class="fa fa-sign-out"></span></a>
        <div class="hover-event">
          <ul class="list-order">
            <li class="secondary-list-header">
              拣货出库
            </li>
            <li class="secondary-list-content">
              出库订单
            </li>
            <li class="secondary-list-content">
              波次作业
            </li>
            <li class="secondary-list-content">
              补货单
            </li>
            <li class="secondary-list-content">
              拣货单
            </li>
            <li class="secondary-list-content">
              门店出货单
            </li>
            <li class="secondary-list-content">
              集货区监控
            </li>
            <li class="secondary-list-content">
              拣货复核
            </li>
            <li class="secondary-list-content">
              拆零复查
            </li>
          </ul>

        </div>
      </div>
      <div class="rightPart">
        <a>
          <div class="rightIcon inline">
            <span class="fa fa-sign-out"></span>
          </div>
          <div class="inline">搜索菜单</div>
          <div class="rightSelectIcon inline">
            <span class="fa fa-caret-right"></span>
          </div>
        </a>

        <div class="hover-event">
          <ul class="list-order">
            <li class="secondary-list-header">
              拣货出库
            </li>
            <li class="secondary-list-content">
              出库订单
            </li>
            <li class="secondary-list-content">
              波次作业
            </li>
            <li class="secondary-list-content">
              补货单
            </li>
            <li class="secondary-list-content">
              拣货单
            </li>
            <li class="secondary-list-content">
              门店出货单
            </li>
            <li class="secondary-list-content">
              集货区监控
            </li>
            <li class="secondary-list-content">
              拣货复核
            </li>
            <li class="secondary-list-content">
              拆零复查
            </li>
          </ul>

        </div>
      </div>
    </li>

  </ul>
  <div class="default_div_style">
    <div class="default_div_style_bottom">

      <div>
          <ul class="list-order">
            <li class="secondary-list-header">最近使用</li>
            <li class="secondary-list-content">波次作业</li>
            <li class="secondary-list-content">出库订单</li>
            <li class="secondary-list-content">收货预检单</li>
            <li class="secondary-list-content">上架单</li>
            <li class="secondary-list-content">转运收货单</li>
            <li class="secondary-list-content">订单维护</li>
            <li class="secondary-list-content">拣货单</li>
          </ul>
      </div>
      <div>
        <ul class="list-order">
          <li class="secondary-list-header">基础资料</li>
          <li class="secondary-list-content">货位管理</li>
          <li class="secondary-list-content">工种管理</li>
          <li class="secondary-list-content">物流设施</li>
          <li class="secondary-list-content">货主</li>
          <li class="secondary-list-content">门店/客户</li>
          <li class="secondary-list-content">供应商</li>
          <li class="secondary-list-content">货品档案</li>
          <li class="secondary-list-content">拣货方案</li>
          <li class="secondary-list-content">货位仓库</li>
          <li class="secondary-list-content">承运商</li>
          <li class="secondary-list-content">RF设置</li>
        </ul>
      </div>
      <div class="list-scroll">
        <ul class="list-order ">
          <li class="secondary-list-header">收货入库</li>
          <li class="secondary-list-content">订单维护</li>
          <li class="secondary-list-content">收货预检单</li>
          <li class="secondary-list-content">收货单</li>
          <li class="secondary-list-content">直分收货单</li>
          <li class="secondary-list-content">上架单</li>
          <li class="secondary-list-content">转运通知单</li>
          <li class="secondary-list-content">转运收货单</li>
          <li class="secondary-list-content">转运整箱拣货作业监控</li>
          <li class="secondary-list-content">质检单</li>
          <li class="secondary-list-content">加工任务单</li>
          <li class="secondary-list-content">收货暂存单</li>
          <li class="secondary-list-content">感官检质清单</li>
          <li class="secondary-list-content">质检项目</li>
          <li class="secondary-list-content">货品检验项目</li>
          <li class="secondary-list-content">模拟RF收货功能</li>
          <li class="secondary-list-content">拟RF快速收货功能</li>
        </ul>
      </div>
      <div>
        <ul class="list-order">
          <li class="secondary-list-header">
            拣货出库
          </li>
          <li class="secondary-list-content">
            出库订单
          </li>
          <li class="secondary-list-content">
            波次作业
          </li>
          <li class="secondary-list-content">
            补货单
          </li>
          <li class="secondary-list-content">
            拣货单
          </li>
          <li class="secondary-list-content">
            门店出货单
          </li>
          <li class="secondary-list-content">
            集货区监控
          </li>
          <li class="secondary-list-content">
            拣货复核
          </li>
          <li class="secondary-list-content">
            拆零复查
          </li>
        </ul>

      </div>
    </div>

  </div>
</div>
