/* Color */

$sideBar-select: #FFFFFF;
$sideBar-bgColor: #202637;
$sideBar-bgColor-hover: #334059;
$span-background: #62666B;
$list-color: #B7BBC4;
$listTitle-color: #7A8293;
$sideBar-color: #797C87;
$sideBar-color-hover:#FFFFFF;
$show-btn: #20B5A5;
$btn-icon: #8FDAD2;
$line-gray:#F2F2F2;
$list-checked:#E7F7F5;
$list-hover-bgColor:#32405A;
$list-header-color:#88D4CD;
$list-border-left: 3px solid $show-btn;
$sceondary-list-color:#AFB5BE;
$light-yellow:#F1C53E;
$panel-blue:#6180DA;
$text-icon:#BCBCBC;

$primary-sideBar: #202637;
$primary-sideBar-li-background: #334059;
$primary-sideBar-li-borderColor: #20B5A5;
$primary-sideBar-li-fontColor: #D2D5DA;
$input-bgColor: #515D72;
$fontColor: #4A4A4A;
$white: #FFFFFF;
$black: #333333;
$light-green: #b4dc39;
$pale-green: #d7df23;
$med-dark-green: #62b00a;
$dark-green: #36781a;
$btn-green: #888888;
$btn-green-hover: #0F998B;
$search-btn-iconColor: #818A99;
$hr-lightGray: #445067;
$hr-dashed:1px dashed #E2E2E2;
$panel-number-bgColor:#F9F9F9;
$span-boder:1px solid #E8E8E8;
$span-primary-number:#42B262;
$btn-black:#565E6F;

$dark-blue: #138CDD;
$orange: #fdb813;
$font-color: #888888;
$red: #FF6E4E;
$btn-black: #596273;
$btn-black-active: #334059;
$panel-bgColor: #F4F4F4;
$panel-Color: #666666;
$panel-hr:#E4E4E4;
$table-font-color: #434343;
$table-hover: #DBF2F0;
$table-titleFont-color: #999999;
/* Button */
$btn-min-width: 100px;
$btn-height: 34px;
$btn-border: solid 1px $span-background;
$list-border: solid 1px $line-gray;

/* Shadow */
$box-shadow: 2px 2px 10px rgba(83, 86, 90, .3);

/* form */
$input-width: 160px;

/* Box Model */
// $border-radius-base: 2px;
$common-padding: 15px;
$common-margin: 10px;

/*border*/
$ahover-border:1px solid #B0B0B0;
