.head-padding {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  color: #888888;
}
.head-title-margin{
  margin-left: 8px;
}
.inline {
  display: inline-block;
}
.list-inline{
  display: inline;
}

.headLogo-style{
  padding-left: 0;
}
.headImage-style{
  margin-bottom: 7px;
}

.scroll-btn-hover {
  color: $fontColor;
  border-radius: 2px;
  padding: 5px;
  height: 28px;
  width: 27px;
  margin-top: 4px;
}

.scroll-icon {
  text-align: center;
}

.scroll-btn-hover:hover {
  color: $fontColor;
  border: solid 1px $list-color;
  cursor: pointer;
  margin-top:3px;
}

.headerIcon-size{
  font-size: 1.5em;
}

.help-btn {
  height: 34px;
  width: 53px;
  padding-left: 12px;
  padding-top: 11px;
  color: $font-color;
  cursor: pointer;
  &:hover {
    color: $btn-green;
  }
  &:active, &:after, &:focus, &:visited {
    background-color: $line-gray;
    color: #434343;
  }
}

.toggle-btn {
  height: 34px;
  padding-left: 12px;
  padding-top: 7px;
  color: #888888;
  cursor: pointer;
  &:active, &:after, &:focus, &:visited {
    background-color: #F2F2F2;
    color: #434343;
  }
}

.log-btn {
  height: 34px;
  width: 160px;
  padding-left: 12px;
  padding-top: 7px;
  margin-right: 30px;
  color: #888888;
  cursor: pointer;
  :active, :after, :focus, :visited {
    background-color: #F2F2F2;
    color: #434343;
  }
}

.user-btn-margin {
  margin-right: 30px;
}

.highlight-number-danger {
  border-radius: 50%;
  width: 15px;
  width: 15px;
  color: #FFFFFF;
  background-color: #FF6E4E;
  text-align: center;
}
.list-contact{
  border: 0;
  border-radius: 3px;
}
.btnGroup-caret{
  padding-bottom: 4px;
}

.btnGroup-caret2{
  padding-bottom: 5px;
}

.btnGroup-size{
  padding-left: 0px;
  padding-top: 12px;
}

.btnGroup-size2{
  padding-left: 20px;
  padding-top: 11px;
}

.list-warning {
  border: 0;
  border-radius: 3px;
  padding-top:0px ;
  width:320px;
}

.list-warning-header {
  margin: 0px;
  background-color: #3C4B66;
  color: #FFFFFF;
  padding: 4px 0 4px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.list-warning-content{
  border-bottom: $list-border;
}

.list-warning-content:hover{
  background-color: $line-gray;
  cursor: pointer;

}

.list-warning-footer {
  text-align: center;
}

.list-wharehouse{
  border: 0;
  border-radius: 3px;
  padding-top:0px ;
  width: 100px;
}

.list-wharehouse-header {
  margin: 0px;
  background-color: #3C4B66;
  color: #FFFFFF;
  width: 160px;
  padding: 4px 0 4px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.warehouse-check{
  color:$btn-green;
  background-color: $list-checked;
}

.icon-primary{
  color: $white;
  border-radius: 50%;
  background-color: $show-btn;
  padding: 5px;
}

.icon-danger{
  color: $white;
  border-radius: 50%;
  background-color: $red;
  padding: 5px;
}

.icon-success{
  color: $white;
  border-radius: 50%;
  background-color: $med-dark-green;
  padding: 5px;
}

.icon-yellow {
  color: $white;
  border-radius: 50%;
  background-color: $light-yellow;
  padding: 5px;
}

.icon-otherthing{
  color: $panel-blue;
  border-radius: 50%;
  padding: 5px;
  font-size: 2em;
}
