.form-no-done{
  width: 100%;
  height: 200px;
  background-color: pink;
  min-width: 900px;
}
.form-search{
  width: 100%;
  height: 50px;

  margin-top: 20px;
}
.form-search-code-find{
  width: 70%;
  height: 50px;

  float: left;
}
.form-search-option-find{
  width: 30%;
  height: 50px;
  float: left;
}
.search-name-find{
  float: left;
  margin: 15px;
}
.form-search-btn-find{
  float: left;
  margin: 10px;
  background: green;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
.form-search-btn-reset{
  float: left;
  margin: 10px;
  padding: 5px;
  width: 53px;
  text-align: center;
}
.form-search-btn-reset:hover{
  border: 1px solid #e4e4e4;
}
.form-search-code-find input{
  float: left;
  margin: 13px;
  width: 40%;
}
.form-search-setting{
  width: 50px;
  height: 30px;
  /* margin: 3px; */
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #C8C8C8;
  float: right;
  margin-top: 10px;
  margin-right: 5%;
}
.navbar-static-top{
  z-index: 0;
}
.new-blank{
  float: right;
}
.new-blank a{
  font-size: 12px;
}



.panel-info{
  height: auto;
  max-height: 250px;
  background-color:$panel-bgColor ;
  padding: 10px;
}

.panel-size{

  margin:10px 22px 10px 10px;
  background-color: $white;
  z-index: 0;
  box-shadow:0px 2px 3px 0px gray ;
}

.info-panel-header{
  border-radius: 0;
  background-color: $white;
  color: $panel-Color;
  border-bottom: 1px solid $panel-hr;
  height: 40px;
  .progress{
    height: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .pull-right{
    div{
      padding: 0;
      color:$panel-Color;
    }
  }
}
.info-panel-body{
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $white;
  color: $panel-Color;
  border-bottom: $hr-dashed ;
  a{
    color: $btn-green-hover;
  }
}
.info-panel-footer{

  border-radius: 0;
  background-color: $panel-number-bgColor;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
.padding-well{
  padding-left: 0px;
}

.info-detail{
  padding: 0;
}
.infoTitle {
  color: $table-titleFont-color;
  font-size: 14px;
}
.span-btn{
  border-left: $span-boder;
}

.main-number{
  font-size: 18px;
  color: $black;
}
.primary-number{
  font-size: 18px;
  color:$span-primary-number;
}


.true-number{
  font-size: 18px;
  color:$btn-green-hover;
}

.btn-green{
  background-color: $show-btn;
  color: $white;
  &:hover {
    background-color: $primary-sideBar-li-background;
    color: $white;
  }
}

.btn-print {
  background-color: $btn-black;
  color: $white;
  &:hover{
    background-color: $primary-sideBar-li-background;
    color: $white;
  }
}

.btn-padding{
  padding-left: 40px;
}

.badge-danger{
  background-color: $red;
}

.badge-secucess{
  background-color: $show-btn;
}

.text-box{
  position:absolute;
  width: 300px;
  height: 400px;
  box-shadow:0px 2px 3px 0px gray ;
  background-color: $white;
  z-index:2000;
  top: 0px;


}

.tabName{

  color:$font-color;
  &:hover{
    border-bottom: 2px solid $show-btn;
    color:$btn-black;
    cursor: pointer;
  }
  a{
    color: $font-color;
    text-decoration:none;
    color:$btn-black;
    &:hover{
      color:$btn-black;
    }
  }
}

.text-hr{
  border-bottom:1px solid $hr-lightGray;

}


.inuput-text{
  top: 45px;width: 286px;height: 79px;margin-left: 6px;
  border-radius: 0;
  border: 1px solid $btn-green;
}
#font-style{
  height: 39px;
  line-height: 39px;
  padding-left: 0;
}
#completeProgress{
  height: 39px;
  line-height: 39px;
  float: right;
}
#progress-margin{
  margin-top: 18px;
  //float: right;
}
#percent-style{
  height: 39px;
  line-height: 39px;
  margin-left: 10px;
  float: right;
}
#refresh-padding-style{
  padding: 10px;
  float: right;
}
#float-right{
  float: right;
}
#no-shadow{
  box-shadow: none;
}
#left-margin{
  margin-left: 20px;
}
.nav-back{
  margin-left: 20px;
}
