

.form-no-done{
  width: 100%;
  height: 200px;
  background-color: pink;
  min-width: 900px;
}
.form-search{
  width: 100%;
  height: 50px;

  margin-top: 20px;
}
.form-search-code-find{
  width: 70%;
  height: 50px;

  float: left;
}
.form-search-option-find{
  width: 30%;
  height: 50px;
  float: left;
}
.search-name-find{
  float: left;
  margin: 15px;
  margin-left: 35px;
  color: #999999;
}
.form-search-btn-find{
  float: left;
  margin: 10px;
  background: #11a99b;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
.form-search-btn-reset{
  float: left;
  margin: 10px;
  padding: 5px;
  width: 53px;
  text-align: center;
}
.form-search-btn-reset:hover{
  border: 1px solid #e4e4e4;
}
.form-search-code-find input{
  float: left;
  margin: 13px;
  width: 40%;
}
.form-search-setting{
  width: 50px;
  height: 30px;
  /* margin: 3px; */
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #C8C8C8;
  float: right;
  margin-top: 10px;
  margin-right: 5%;
}
.navbar-static-top{
  z-index: 0;
  background-color: #E4E4E4;
  border: none;
}
.new-blank{
  float: right;
}
.new-blank a{
  font-size: 12px;
}



.panel-info{
  max-height: 250px;
  background-color:$panel-bgColor ;
  padding: 10px 10px 252px 10px;
}

.panel-size{
  margin:10px 22px 10px 24px;
  background-color: $white;
  z-index: 0;
  box-shadow:0px 2px 3px 0px gray ;
}

.info-panel-header{
  padding-right: 0px;
  border-radius: 0;
  background-color: $white;
  color: $panel-Color;
  border-bottom: 1px solid $panel-hr;
  height: 40px;
  .progress{
    height: 5px;
    margin-top: 7px;
    margin-bottom: 0px;
  }
  .pull-right{
    div{
      padding: 0;
      color:$panel-Color;
    }
  }
}
.info-panel-body{
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $white;
  color: $panel-Color;
  border-bottom: $hr-dashed ;
  a{
    color: $btn-green-hover;
  }
}
.info-panel-footer{

  border-radius: 0;
  background-color: $panel-number-bgColor;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  border: 1px solid #e4e4e4;
}
.padding-well{
  padding-left: 0px;
}

.info-detail{
  padding: 0;
}
.infoTitle {
  color: $table-titleFont-color;
  font-size: 14px;
}
.span-btn{
  border-left: $span-boder;
}

.main-number{
  font-size: 28px;
  color: $black;
}
.primary-number{
  font-size: 28px;
  color:$span-primary-number;
}


.true-number{
  font-size: 28px;
  color:$btn-green-hover;
}

.btn-green{
  background-color: $show-btn;
  color: $white;
  padding-left: 22px;
  padding-right: 22px;

  &:hover {
    background-color: $primary-sideBar-li-background;
    color: $white;
  }
}

.btn-print {
  background-color: $btn-black;
  color: $white;
  &:hover{
    background-color: $primary-sideBar-li-background;
    color: $white;
  }
}

.btn-padding{
  padding-left: 40px;
}

.badge-danger{
  background-color: $red;
}

.badge-secucess{
  background-color: $show-btn;
}

.text-box{
  position:fixed;
  top: 95px;
  right: 0;
  width: 400px;
  height: 480px;
  box-shadow:0px 2px 3px 0px gray ;
  background-color: $white;
  z-index:100;


  .text-hr{
    border-bottom:1px solid $hr-lightGray;
  }

  .nav-tabs > li > a:hover{
    background-color: $white;
  }

  .nav-tabs>li.active>a , .nav-tabs>li.active > a:hover, .nav-tabs>li .active > a:focus{
    border:0;
    border-bottom: 2px solid $show-btn;
    cursor: default;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border:0;
    border-bottom: 2px solid $show-btn;
  }

  .nav-tabs > li > a:hover{
    border:0;
    border-bottom:2px solid $show-btn;
  }

  .inuput-text{
    top: 45px;
    width: 388px;
    height: 75px;
    border-radius: 0;
    margin: 6px 6px 0 6px;
    border-top: 1px solid $show-btn;
    border-left: 1px solid $show-btn;
    border-right: 1px solid $show-btn;
    border-bottom: 1.5px solid $panel-hr;
  }

  .text-footer {
    margin-left: 6px;
    width: 388px;
    height: 40px;
    border-top: 0;
    border-left: 1px solid $show-btn;
    border-right: 1px solid $show-btn;
    border-bottom: 1px solid $show-btn;

    i{
      font-size: 1.5em;
      color: $text-icon;
    }

    .col-sm-3{
      margin-top: 10px;
      div{
        margin-right: 10px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }



}

.tabName{
  color:$font-color;
  &:hover{
    //border-bottom: 2px solid $show-btn;
    color:$btn-black;
    cursor: pointer;
    //padding-bottom: 8px;
  }
  a{
    color: $font-color;
    text-decoration:none;
    /*&:hover{
      color:$btn-black;
    }*/
  }
}

.tabBtn{
  margin-right: 12px;
  a{
    text-decoration: none;
    color: $font-color;
    &:hover{
      cursor: pointer;
      color:$sideBar-bgColor;
    }
  }

}

/*.text-hr{
  border-bottom:1px solid $hr-lightGray;
}


.inuput-text{
  top: 45px;
  width: 388px;
  height: 75px;
  border-radius: 0;
  margin: 6px 6px 0 6px;
  border-top: 1px solid $show-btn;
  border-left: 1px solid $show-btn;
  border-right: 1px solid $show-btn;
  border-bottom: 1.5px solid $panel-hr;
}

.text-footer {
  margin-left: 6px;
  width: 388px;
  height: 40px;
  border-top: 0;
  border-left: 1px solid $show-btn;
  border-right: 1px solid $show-btn;
  border-bottom: 1px solid $show-btn;

  i{
    font-size: 1.5em;
    color: $text-icon;
  }

  .col-sm-3{
    margin-top: 10px;
    div{
      margin-right: 10px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}*/

#font-style{
  height: 39px;
  line-height: 39px;
  padding-left: 0;
  font-size: 18px;
}
#completeProgress{
  height: 39px;
  line-height: 39px;
  float: right;
}
#progress-margin{
  height: 10px;
  margin-top: 14px;
  width:220px;
  //float: right;
}
#percent-style{
  height: 39px;
  line-height: 39px;
  margin-left: 10px;
  float: right;
}
#refresh-padding-style{
  padding: 10px;
  float: right;
}
#float-right{
  float: right;
}
#no-shadow{
  box-shadow: none;
}
#left-margin{
  margin-left: 20px;
}
.subTitle-size{
  width: 100px;
}

.nav-back{
  margin-left: 0px;
}
.tab-choice{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  .close-margin{
    margin-right: 20px;
    padding-top: 16px;
  }
}

.info-pin{
  background-color: $red;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border-bottom: 6px;
}

.progress-margin{
  margin-right: 5px;
}

.textBox-margin{
  border-bottom:1px solid $span-background;
  margin: 0;
}

.highlight-number-success {
  border-radius: 50%;
  width: 15px;
  color: $white;
  background-color: $show-btn;
  text-align: center;
}

.title-padding{
  padding-right: 0px;
  padding-top: 10px;
}

.bar-size{
  height: 7px;
}
#btn-no-border{
  border: none;
}

.info-margin{
  margin-bottom: 8px;
}

.textBox-btn{
  padding: 2px 5px 2px 5px;
  margin-top: 5px;
}
.submit-btn{
  font-size: 12px;
  color: $white;
}


