<!--
<div class="default_style">
  <ul class="default_list_style">
    <li id="li-id">
      <div class="li-fir-left">
        <img src="/app/img/u758.png">
      </div>
      <div class="li-fir-right">
        <img src="/app/img/u117_mouseOver.png" ng-click="hidePercent70()">
      </div>
      <div class="short60">
        <img src="/app/img/u117_mouseOver.png" ng-click="showPercent70()">
      </div>
    </li>
    <li ng-repeat="data in leftMenuTitle">
      <div class="li-sec-l">
        <img src="/app/img/u12.png">
      </div>
      <div class="li-sec-r">
        <div class="li-sec-l-text">{{data}}</div>
        <div class="li-sec-r-img">
          <img src="/app/img/u118.png">
        </div>
      </div>
    </li>
  </ul>
  <div class="default_div_style">
    <div class="default_div_style_top"></div>
    <div class="default_div_style_bottom">
      <div>11111111111</div>
      <div>22222222222</div>
      <div>33333333333</div>
      <div>44444444444</div>
      <div>55555555555</div>
    </div>

  </div>

</div>
-->
